/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background 
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}*/
html {
    font-family: 'Roboto', sans-serif;
    background: #f3f4f4;
}
body {
    height: 96vh;
}
.welocme-text {
    line-height: 1.42;
    font-weight: 400;
    font-size: 17px;
    color: rgb(94, 108, 132);
    margin-top:20px;
    margin-bottom:30px;
}
.logo {
    max-width: 390px;
    background: #30455D;
    border-radius: 70px;

}

.card-custom {
    
    border-radius: 15px;
}
.logo-container {
    text-align: center;
    position: relative;
    margin-top:30px;
    margin-bottom: 50px;
}
.no-bootom-margin{
    margin-bottom: 0px !important;
}
.top-margin{
    margin-top:40px !important;
}
.login-button {
    background-color: #364F6B;
    color: #ffffff;
    display: inline-block;
    border: none;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    transition: background-color .3s ease-in-out;
}
.reset-padding{
    margin:20px;
}

.login-button:hover {
    background-color: #446387;
}
    .login-button:focus {
        background-color: #446387 !important;
    }
    .login-button:focus {
        outline: 0;
    }

@media (max-width: 600px) {
    .logo {
        max-width: 270px;
    }

    .logo-container {
        margin-bottom: 25px;
    }
}
.text-danger {
    color: #b93f3f;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 550;
}