<div class="content-desc">
    <div class="row valign-wrapper row-desc">
      <div class="col l4 xl4 tile-title truncate">Wpisy</div>
      <div class="col l6 xl6 search-field">
          <app-custom-search-field (currentTerm)=search($event) class="right"></app-custom-search-field>
      </div>
      <div class="col l2 xl2 add-btn" (click)="openDialog()"> <i class="material-icons left circle add-icon">add_circle_outline</i></div>
    </div>
</div>

<ul class="collection collection-height">
    <li  *ngFor="let comment of comments$ | async" class="collection-item avatar comment-collection">
      <i class="medium  material-icons icon-style" matTooltip="{{comment.userName}}">account_circle</i>
      <i *ngIf="!(comment.jamUser.photoBase64)" class="medium  material-icons icon-style" matTooltip="{{comment.jamUser.userName}}">account_circle</i>
      <img  *ngIf="comment.jamUser.photoBase64" [src]="comment.jamUser.photoBase64" alt="mage" class="circle custom-avatar-size"matTooltip="{{comment.jamUser.userName}}"/>
        <span class="title">Dnia {{comment.date | date:'dd.MM.yyyy'}} o {{comment.date | date:'HH:mm'}} użytkownik {{comment.jamUser.userName}} napisał(a)</span>
          <p class="comment">
            {{comment.content}}
          </p>
      <div class="secondary-content">
            <i class="material-icons right delete-comment-button" (click)="deleteComment(comment)">delete</i>
           <i class="material-icons right edit-comment-button" (click)="openDialog(comment)">edit</i>           
        </div>
    </li>  

    <div *ngIf="listEmpty" class="lack-od-elements center-align">
      <div class="row center-align card empty-card">
         <h5 class="col s12 m12 xl12">Brak elementów</h5>
         <p class="col s12 m12 xl12">Dodaj wpis teraz</p>
         <div class="add-btn col s12 m12 xl12 center-align" (click)="openDialog()"> 
           <i class="material-icons left circle add-icon empty-icon">add_circle_outline</i>
         </div>
       </div>
    </div>

  </ul>

