<div class="content-desc">
    <div class="row valign-wrapper row-desc">
      <div class="col l4 xl4 tile-title truncate">Wpisy</div>
      <div class="col l6 xl6 search-field">
          <app-custom-search-field (currentTerm)=search($event) class="right"></app-custom-search-field>
      </div>
      <div class="col l2 xl2 add-btn" (click)="openDialog()"> <i class="material-icons left circle add-icon">add_circle_outline</i></div>
    </div>
</div>

<ul class="collection collection-height">
    <li  *ngFor="let comment of comments$ | async" class="collection-item avatar event-collection">
      <i class="medium  material-icons icon-style">account_circle</i>
        <span class="title">Dnia {{comment.date | date:'dd.MM.yyyy'}} o {{comment.date | date:'HH:mm'}} użytkownik {{comment.userName}} napisał(a)</span>
          <p class="event-info">
            {{comment.content}}
          </p>
      <div class="secondary-content">
            <i class="material-icons right delete-song-button" (click)="deleteComment(comment)">delete</i>
           <i class="material-icons right edit-song-button" (click)="openDialog(comment)">edit</i>           
        </div>
    </li>  
  </ul>

 <p  *ngIf="listEmpty" class="lack-od-elements center-align">Brak elementów</p>