@import '../../../../../scss/variables';

.content-desc{
    padding-left: 20px;
    background-image: linear-gradient(to right, $firstGradientColor, $secondGradientColor);
    color: white;  
    border-left: 1px solid #ddd;
}
.content{
    font-size: 15px;;
}
.row-desc{
    height:  $content-desc-height;
    margin: 0px;
}
.tile-title{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}
.add-icon{
    transition: 0.4s;
    color: #d8daab;
    font-size: 2.7rem;
}
.add-icon:hover{
    color:rgb(217, 235, 117);
    cursor: pointer;
}
.collection-height{   
    overflow: auto;
}
.icon-style {
    position: absolute;
    left: 5px;
    vertical-align: middle;
    color: grey;
}
.comment-collection {
    line-height: 1.35rem;
    padding: 5px 15px;
    min-height: 65px !important;
    .title {
        font-size: 13px;
        font-weight: 700;
    }
    .comment {
        padding-top: 11px;
        font-size: 15px;
       
        word-wrap: break-word;
    }
    .custom-buton {      
        color: inherit;
        border-radius: 20px;
        border: 1px solid rgb(29, 161, 242);
        padding: 10px 25px 10px 25px;

        span{
            color:  rgb(29, 161, 242);
            font-size: 15px;
            font-weight: bold;
        }        
    }
}

.delete-comment-button, .edit-comment-button {
    color: $action-button-color;
}
.delete-comment-button:hover, .edit-comment-button:hover{
    color:$action-button-hover-color;
    cursor: pointer;
    transition: 0.3s;
}
ul{
    border:none;
    margin-top: 0px;
    height: calc(96% - #{$content-desc-height});
    margin-bottom: 0px;
    overflow: auto;
}
.empty-icon{
    width: 100%;
    font-size: 5.7rem;
    margin-top: 15px;
}
.empty-card{
    width: 50%;
    display: inline-block;
    margin-top:30px;
}