@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row">
    <div class="card col xl4 push-xl4 m8 push-m2 s12 card-custom">
        <div class="welocme-text center-align reset-padding">Link do resetowania hasła został wysłany na twój adres email. Kliknij go aby kontynuować proces.</div>
    </div>
</div>

