@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@*<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}*@

<div class="row">
    <div class="card col xl4 push-xl4 m8 push-m2 s12 card-custom">
        <div class="welocme-text center-align">Resetowanie hasła</div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row top-margin">

                <div class="col l10 push-l1 s12">

                    <!-- <button type="submit" class="mat-button"><img class="googleLogin" src="~/assets/img/search.svg" alt="">Zaloguj przez Google</button> -->
                    <button type="submit" class="login-button">Kontynuuj</button>

                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
