@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="card col xl4 push-xl4 m8 push-m2 s12 card-custom">
        <div class="welocme-text center-align">Witamy w JamPlace</div>
        <form id="account" method="post">

            <div class="row no-bootom-margin">
                <div class="input-field col l10 push-l1 s12">
                    <input asp-for="Input.Email" id="last_name" class="validate" type="email" />
                    <label for="last_name">E-mail</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col l10 push-l1 s12">
                    @*<label asp-for="Input.Password">Hasło</label>*@
                    <input asp-for="Input.Password" id="password" type="password" class="validate" />
                    <label for="password">Hasło</label>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger no_dots"></div>
            <!-- <div asp-validation-for="All" class="text-danger"></div>    -->
            <!-- <div> -->
            <!-- <div class="checkbox">
        <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
    </div> -->
            <!-- </div> -->

            <div class="row top-margin">

                <div class="col l10 push-l1 s12">

                    <!-- <button type="submit" class="mat-button"><img class="googleLogin" src="~/assets/img/search.svg" alt="">Zaloguj przez Google</button> -->
                    <button type="submit" class="login-button">Zaloguj</button>

                </div>
            </div>
            <div class="row top-margin">
                <div class="col l6">
                    <p class="center-align">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="a-link center-align">Zarejestruj się i utwórz konto</a>
                    </p>
                </div>
                <div class="col l6">
                    <p class="center-align">
                        <a class="a-link a-link--password-section center-align" id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
