@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="row">
    <div class="card col xl4 push-xl4 m8 push-m2 s12 card-custom">
        <div class="welocme-text center-align reset-padding">
            Hasło zostało pomyślnie zmienione.
            <a <a asp-page="./Login">Kliknij tu aby zalogować się używając nowych danych</a>
        </div>
    </div>
</div>
