@import '../../../../../scss/variables';


.full-height {
    height: calc(100vh - #{$top-panel-height});
    
}
.no-bottom-margin{
    margin-bottom: 0 !important;
}
.event-info-panel{
    height: $event-info-height;
    padding: 0;
    margin: 0;
}
.song-list{
    height: $song-list-height;
    padding: 0;
    margin: 0;
}
.equipment-list{
    height: $equipment-list-height;
    padding: 0;
    margin: 0;
}
.user-list{
    height: calc(100vh - #{$top-panel-height} - #{$event-info-height});
    position: relative;
    //z-index: -1;
    padding: 0;
}
.forum-panel{
    height: calc(100vh - #{$top-panel-height} - #{$song-list-height});
    padding: 0;
}
.needed-equipment{
    height: calc(100vh - #{$top-panel-height} - #{$equipment-list-height});
    padding: 0;
}
@media (max-width: 1200px) {
    .equipment-list{
        height: calc(100vh - 64px - 40vh);
    }
}