@import '../../../../../scss/variables';

.icon-style {
    position: absolute;
    left: 5px;
    vertical-align: middle;
    color: grey;
}
.title{
    font-size:14px !important;
}
.comment{
    font-size:15px;
    font-weight: 500;
    margin-top:4px !important;
}
.song-title{   
    line-height: 20px;
    margin-top: 1px;
    font-size: 13px;
    font-weight: 500;
}
.song-artist{
    color: #a9a9a9;
    font-size: 13px;
}
.song-link{
    line-height: 20px;
    font-size: 13px;
}
.ul-max-height{
    max-height: 300px;
}
.content-desc{
    padding-left: 20px;
    background-image: linear-gradient(to left, $firstGradientColor, $secondGradientColor);
    color: white;  
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0px;
}
.row-desc{
    height:  $content-desc-height;
    margin: 0px;
}
.tile-title{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}
.add-btn{
    //padding-bottom:5px;   
}
.add-icon{
    transition: 0.4s;
    color: #d8daab;
    font-size: 2.7rem;
}
.add-icon:hover{
    color:rgb(217, 235, 117);
    cursor: pointer;
}
.delete-comment-button, .edit-comment-button {
    color: $action-button-color;
}
.delete-comment-button:hover, .edit-comment-button:hover{
    color:$action-button-hover-color;
    cursor: pointer;
    transition: 0.3s;
}
ul{
    margin-top: 0px;
    height: calc(100% - #{$content-desc-height});
    overflow: auto;
    margin-bottom: 0px;
}
li{
    padding:10px;
    margin-top: 0px;
    margin-bottom: 1px;
    min-height: 60px !important;
}
.song-row{
    margin:0px;
    height: 40px;
}
.empty-icon{
    width: 100%;
    font-size: 5.7rem;
    margin-top: 15px;
}
.empty-card{
    width: 50%;
    display: inline-block;
    margin-top:25px;
}
 
