@import '../../../../../scss/variables';

.content-desc{
    padding-left: 20px;
    background-image: linear-gradient(to right, $secondGradientColor, $firstGradientColor);
    color: white;  
    border-left: 1px solid #ddd;
}
.user-collection {  
    overflow: auto;
}
.content{
    font-size: 15px;;
}
.row-desc{
    height:  $content-desc-height;
    margin: 0px;
}
.tile-title{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}
.add-icon{
    transition: 0.4s;
    color: #d8daab;
    font-size: 2.7rem;
}
.add-icon:hover{
    color:rgb(217, 235, 117);
    cursor: pointer;
}
.icon-style {
    position: absolute;
    left: 5px;
    vertical-align: middle;
    color: grey;
}
.user-collection {
    min-height: 60px !important;
    line-height: 1.35rem;
    overflow: hidden;
    .title {
        font-size: 18px;
        font-weight: 700;
        margin-left: 15px;
    }
    .event-info {
        padding-top: 11px;
        font-size: 15px;
       
        word-wrap: break-word;
    }
    .custom-buton {      
        color: inherit;
        border-radius: 20px;
        border: 1px solid rgb(29, 161, 242);
        padding: 10px 25px 10px 25px;

        span{
            color:  rgb(29, 161, 242);
            font-size: 15px;
            font-weight: bold;
        }        
    }
}
.delete-song-button:hover, .edit-song-button:hover{
    color:rgb(217, 235, 117);
    cursor: pointer;
}
.edit-song-button, .delete-song-button{
    color: black;
}
ul{
    border:none;
    margin-top: 0px;
    height: 400px;
}
.user-button {
    background-color: #364F6B;
    color: #ffffff;
    border-radius: 20px;;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s ease-in-out;
}

    .user-button:hover {
        background-color: #446387;
    }
    .user-button:focus {
        background-color: #446387 !important;
    }
    .user-button:focus {
        outline: 0;
    }
.current-user-li{
    border: 2px solid #d8daab;
    box-shadow: 0px 1px 3px #d8daab !important;
    background-color: #e0eaf9;
}
.delete-event-button, .edit-button {
    color: $action-button-color;
    font-size: 2.5em;
    right:16px;
    position: absolute;
}
.delete-event-button:hover, .edit-button:hover{
    color:$action-button-hover-color;
    cursor: pointer;
    transition: 0.3s;
}