<div class="content-desc">
  <div class="row valign-wrapper row-desc">
    <div class="col l12 xl12 tile-title truncate">Użytkownicy</div>
    <!-- <div class="col l6 xl6 search-field">
        <app-custom-search-field (currentTerm)=search($event) class="right"></app-custom-search-field>
    </div> -->
    <!-- <div class="col l2 xl2 add-btn" (click)="openDialog()"> <i class="material-icons left circle add-icon">add_circle_outline</i></div> -->
  </div>
</div>

<ul class="collection user-collection" *ngIf="loggedUserId">
  <li  *ngFor="let user of users$ | async" class="collection-item avatar user-collection valign-wrapper" [class.current-user-li]="user.id==loggedUserId">
    <i class="medium  material-icons icon-style">account_circle</i>
      <span class="title"> {{user.userName}}<span *ngIf="user.id==loggedUserId"> (Ty)</span> </span> 
      
        <i *ngIf="user.id==loggedUserId && eventOwnerId==loggedUserId" class="material-icons delete-event-button" (click)="deleteEvent()" matTooltip="Usuń to wydarzenie">delete_forever</i>   
        <i *ngIf="user.id==loggedUserId && eventOwnerId!=loggedUserId" class="material-icons delete-event-button" (click)="leaveEvent()" matTooltip="Opuść to wydarzenie">close</i>
        
  </li>  
</ul>

<p  *ngIf="listEmpty" class="lack-od-elements center-align">Brak elementów</p>