<div class="content-desc">
  <div class="row valign-wrapper row-desc">
    <div class="col l4 xl4 tile-title truncate">Użytkownicy</div>
    <div class="col l6 xl6 search-field">
        <app-custom-search-field (currentTerm)=search($event) class="right"></app-custom-search-field>
    </div>
    <!-- <div class="col l2 xl2 add-btn" (click)="openDialog()"> <i class="material-icons left circle add-icon">add_circle_outline</i></div> -->
  </div>
</div>

<ul class="collection collection-height">
  <li  *ngFor="let user of users$ | async" class="collection-item avatar event-collection valign-wrapper">
    <i class="medium  material-icons icon-style">account_circle</i>
      <span class="title"> {{user.userName}}</span>   
  </li>  
</ul>

<p  *ngIf="listEmpty" class="lack-od-elements center-align">Brak elementów</p>