<div class="content-desc card">
  <div class="row valign-wrapper row-desc">
    <div class="col l6 offset-l1">
      <div class="event-name">{{eventInfo.name}}</div>
    </div>
    <div class="col l2 xl2 edit-btn" (click)="openDialog(eventInfo)"> <i class="material-icons left circle edit-icon">edit</i></div>
  </div>
</div>
<ul class="collapsible collection-list" #collapsible >
  <li class="description-li">
    <div class="description"><span>{{eventInfo.description}}</span></div>
  </li>
  <li class="address-li">
    <div class="address valign-wrapper row">
      <i class="material-icons col l1 icon-padding">place</i>
      <span class="col l11">{{addressText}}</span>
    </div>
    <div class="collapsible-body list-content"></div>
  </li>
  <li class="address-li">
    <div class="address valign-wrapper row">
      <i class="material-icons col l1 icon-padding">date_range</i>
      <span class="col l11">{{eventInfo.date | date:'dd.MM.yyyy HH:mm'}}</span>
    </div>
    <div class="collapsible-body list-content"></div>
  </li>
</ul>
