
    <!-- <li class="collection-item list-item">
        <div class="item-header">Opis<br></div> 
        <div class="item-desc">no elo tu jest jeden takiwielki opis poka go calego moze pozniej</div>
    </li>
    <li class="collection-item list-item">
        <div class="item-header">Rozmiar<br></div> 
        <div class="item-content">Duze</div>
    </li>
    <li class="collection-item list-item">
        <div class="item-header">Adres<br></div> 
        <div class="item-content">adres</div>
    </li> -->
    <ul class="collapsible collection-list" #collapsible >
        <li class="collection-header event-title"><h1 class="event-name center-align">Świat nietypowych Januszów</h1>
        </li>
        <li>
          <!-- <div class="collapsible-header description"><i class="material-icons">description</i>Opis</div> -->
          <div class="description"><span>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Adres</div>
          <div class="collapsible-body list-content"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Rozmiar</div>
          <div class="collapsible-body list-content"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
  