@import '../../../../../scss/variables';
.event-name{
    color: white;
    font-size:18px;
    font-weight: 400;  
    margin: 0;  
    padding: 0px 0px 15px 0px;

    
}
.content-desc{
    padding-left: 20px;
    // background-color: #282D38;
    //background-image: linear-gradient(to right, #5a6273 , #382828);
    color: white;
    height: $content-desc-height;
    background-image: linear-gradient(to right, #382828 , #5a6273);
}
.event-title{
    padding: 13px 0px 13px 0px;
    background-color: white;

}
.collection-list{
    margin:0;
    padding:0;
    border-top: 0px;
    border-left: 0px;
}
.description{
    min-height: 143px;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.first-list-item{
    border-bottom: 1px solid #ddd;
}
.list-content{
    background-color: white;
}