<div class="container">
  <div class="row">
    <div>
      <div class="col s12 m7 l4">
        <div class="card medium">
          <div class="card-image">
            <img  src="jamphoto.jpg" alt="Photo of a Jam Event">
            <span class="card-title"> Wyszukaj</span>
          </div>
          <div class="card-content">
            <p class="tile-title">Wyszukiwarka wydarzeń</p>
            <p>
            Wyszukaj i dołaczaj do wydarzeń aby zadeklarować udział oraz uzyskać informacje.
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l4">
        <div class="card medium">
          <div class="card-image">
            <img src="myevent.jpg" alt="Photo of a my Events">
          </div>
          <div class="card-content">
            <p class="tile-title">Moje wydarzenia</p>
            <p>
              Pokaż listę wydarzeń w których bierzesz udział
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l4">
        <div class="card medium ">
          <div class="card-image ">
            <img  src="users.jpg" alt="list of users">
          </div>
          <div class="card-content">
            <p class="tile-title">Wyszukiwarka wydarzeń</p>
            <p>
              Wyszukaj innych użytkowników
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="col l12">
        <div class="card medium horizontal">
          <div class="card-image">
            <img src="myevent.jpg" alt="Photo of a my Events">
          </div>
          <div class="card-content">
            <p class="tile-title">Moje wydarzenia</p>
            <p>
              Pokaż listę wydarzeń w których bierzesz udział
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- <mat-grid-tile>
        <mat-card>
          <div class="img-container">
            <img mat-card-image class="tile-img" src="myevent.jpg" alt="Photo of a My Event">
          </div>
          <mat-card-content>
            <h3>Moje wydarzenia</h3>
            <p>
            Przeglądaj wydarzenia w których chcesz wziąść udział
            </p>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <div class="img-container">
            <img mat-card-image class="tile-img" src="users.jpg" alt="Photo of a My Event">
          </div>
          <mat-card-content>
            <h3>Uzytkownicy</h3>
            <p>
              Wyszukaj innych użytkowników
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile> -->
    
</div>
<!-- <mat-card>
    
    <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>
          Eventy
        </mat-card-title>
      </mat-card-header>
    
</mat-card> -->


