<div class="container">
  <div class="row">
    <div>
      <div class="col s12 m7 l3">
        <div class="card small" (click)="clickAddEvent()">
          <div class="card-image small-card-img-border">
            <img  src="addevent.jpg" alt="Photo of a Jam Event">
          </div>
          <div class="card-content">
            <p class="tile-title truncate">Utwórz wydarzenie</p>
            <p>
             Dodawaj nowe wydarzenia
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l3">
        <div class="card small" (click)="clickSearchEvent()">
          <div class="card-image small-card-img-border">
            <img  src="jamphoto.jpg" alt="Photo of a Jam Event">
          </div>
          <div class="card-content">
            <p class="tile-title truncate">Wyszukiwarka wydarzeń</p>
            <p>
            Wyszukaj i dołaczaj do wydarzeń muzycznych
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l3">
        <div class="card small"  (click)="clickProfile()">
          <div class="card-image small-card-img-border">
            <img src="profile.jpg" alt="Photo of a my Events">
          </div>
          <div class="card-content">
            <p class="tile-title">Profil</p>
            <p>
              Edytuj dane swojego profilu
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l3">
        <div class="card small ">
          <div class="card-image small-card-img-border">
            <img  src="users.jpg" alt="list of users">
          </div>
          <div class="card-content">
            <p class="tile-title">Użytkownicy</p>
            <p>
              Wyszukaj innych użytkowników
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <div class="col l12">
        <div class="card medium horizontal my-events">
          <div class="card-image hide-on-small-only">
            <img class="bottom-card-img-border" src="myevent.jpg" alt="Photo of a my Events">
          </div>
          <div class="card-content">           
            <app-my-events-list></app-my-events-list>
          </div>
        </div>
      </div>
    </div>
  </div>
     
</div>



