@import '../../../../../scss/variables';
@import '../../../../../styles.scss';

.next-btn-color{
    background: green;
    height:242px
}
.margin-bottom-0{
    margin-bottom: 0 !important;  
}

.margin-top-0{
    margin-top: 0 !important;
}

@media (max-width: 500px) {
    .container-margin-top{
        margin-top: 0px;
    }
    .card-border{
        border-radius: 0px;
      }
      .btn-bottom-radius{
        border-radius: 0px;
      }
      .create-event{
        background-image: none;
    }
      .card{
          margin: 0px !important;
      }
}
.helper-text {
    font-size: 15px;
}