
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$JamPlaceAngularApp-primary: mat-palette($mat-indigo);
$JamPlaceAngularApp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$JamPlaceAngularApp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$JamPlaceAngularApp-theme: mat-light-theme($JamPlaceAngularApp-primary, $JamPlaceAngularApp-accent, $JamPlaceAngularApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($JamPlaceAngularApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
body { margin: 0; font-family: system-ui, "Segoe UI", Tahoma;}

.search-box{
    color: inherit;
    border-radius: 20px !important; 
    border: 1px solid rgb(29, 161, 242) !important;
    padding: 10px 25px 10px 25px !important;
    width: unset !important;
    height: unset !important;
    margin: 0px 15px 0px 0px !important;
    
}
.search-box-light{
    color: inherit;
    border-radius: 20px !important; 
    border: 2px solid #d8daab  !important;
    padding: 10px 25px 10px 25px !important;
    width: unset !important;
    height: unset !important;
    margin: 0px 15px 0px 0px !important;
    
}  
input:focus[class*="search-box"]{
    box-shadow: 0px 0px 3px rgb(29, 161, 242) !important;
}
input:focus[class*="search-box-light"]{
    box-shadow: 0px 0px 3px #d8daab !important;
}
input[type="search"][class*="search-box"][class*="search-box-light"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: searchfield;
   }  
input[type="search"][class*="search-box"][class*="search-box-light"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;  
}
input[class*="search-box"][class*="search-box-light"]::-webkit-search-cancel-button{
    position:relative;
    right:-15px;  
}
