<div class="content-desc">
  <div class="row valign-wrapper">
    <p class="tile-title col l4 xl6">Moje wydarzenia</p>
    <div class="col l8 xl6">
        <input #searchBox type="search" name="gsearch" placeholder="Szukaj po nazwie" class="right search-box" (input)="search(searchBox.value)">
    </div>
  </div>
  <!-- <p>
    Pokaż listę wydarzeń w których bierzesz udział
  </p> -->
</div>
<ul class="collection collection-height">
  <li *ngFor="let myJamEvent of myEvents$ | async" (click)="onSelect(myJamEvent)" class="collection-item avatar event-collection">
    <i class="medium  material-icons icon-style">account_circle</i>
      <span class="title">{{myJamEvent.name}}</span>
        <p class="event-info">{{myJamEvent.date | date:'dd-MM-yyyy HH:mm'}} <br>
         {{myJamEvent.address}}
        </p>
    <div class="secondary-content custom-buton"> <span>Zobacz</span></div>
  </li>  
</ul>