$primaryColor: #d9d8b6;
$secondaryColor:#232a34;
$accentColor: #007CF8;

$firstGradientColor: #30455D;
$secondGradientColor: #496884;
//$firstGradientColor :#30455D;
//$secondGradientColor: #496884;
$action-button-color: #4a4e2f;
$action-button-hover-color:#498b6a;
$main-button-color: #364F6B;
$top-panel-height: 64px;
$content-desc-height: 60px;

$event-info-height: 40vh;
$song-list-height: 40vh;
$equipment-list-height: 40vh;


