@import '../../../../../scss/variables';

.container-margin-top{
    margin-top: 60px;
}
.full-height {
    height: calc(100vh - #{$top-panel-height} *2);
}
.margin-bottom-0{
    margin-bottom: 0 !important;
}
.margin-top-0{
    margin-top: 0 !important;
}
.crop-container{
    max-width: 50%;  
  }
.image-cropper{
    max-height:250px;
}
.input-btn{
    background-color: $main-button-color !important;
}
.subsesction-title{
    margin-left:20px;
    font-size: 18px;
    margin-bottom: 15px;
}
.user-avatar {
  border-radius: 100%;
  max-width: 200px;
  height:128px;
}
.user-name-input{
    margin-left:15px !important;
}
.card-border{
    border-radius: 0px 30px 30px 0px;
  }
  .btn-bottom-radius{
    border-radius: 0px 00px 30px 0px;
  }
  .btn-color{
      background: #2DA28A !important;
      
  }
  .main-button {
    background-color: #364F6B;
    color: #ffffff;
    display: inline-block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color .3s ease-in-out;
}

    .main-button:hover {
        background-color: #446387;
    }
    .main-button:focus {
        background-color: #446387 !important;
    }
    .main-button:focus {
        outline: 0;
    }
@media (max-width: 500px) {
    .container-margin-top{
        margin-top: 0px;
    }
    .card-border{
        border-radius: 0px;
    }
    .btn-bottom-radius{
      border-radius: 0px;
    }
    .create-event{
      background-image: none;
    }
    .card{
        margin: 0px !important;
    }
    .user-name-input{
        margin-left:0px !important;
    }
}